target/
*.class
*.log
.idea/
*.iml
.vscode/
.settings/
.classpath
.project
.factorypath
nbproject/
nbactions.xml
nb-configuration.xml
.DS_Store
# Installer binaries
installer/kia-store-erp.jar
installer/xampp-installer.exe
installer/jdk-installer.exe
